#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.app {
  background-image: url(/images/stars-seamless.edcef73f.png);
  background-repeat: repeat;
  background-size: contain;
  font-family:
    Times New Roman,
    serif;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.main {
  position: relative;
}
.main-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 15;
  position: relative;
}

.solar-opposites-header img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0 0.85rem;
  width: 60%;
}

.content-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 5px;
  width: 100%;
}

.rayitas {
  display: block;
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgb(255, 255, 0),
    rgb(255, 255, 0) 15px,
    rgb(0, 0, 0) 15px,
    rgb(0, 0, 0) 30px
  );
}

.content-inner-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.pupa-coin-container {
  position: relative;
  bottom: 0;
  width: 50%;
  z-index: 15;
}


.bad-gateway {
    display: block;
    width: 100%;
}


.alert-emoji {
  max-height: 50px;
  top: -20px;
  left: -15px;
  width: auto;
  position: absolute;
}

.accepting-pupa-coin-desktop {
  display: initial;
  top: 40%;
  right: 0;
  transform: translate(120px, -50%);
  max-height: 150px;
  width: auto;
  position: absolute;
}

.fire-container {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: url(/images/flaming-liner.171573d0.gif) repeat-x;
  background-size: auto 100%;
  height: 30px;
}
